<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Listado de pacientes</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

 <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Mis Pacientes</h3>
                <button type="button" class="btn btn-primary float-right" (click)="clickPacienteNuevo()"><i class="fa fa-plus" aria-hidden="true"></i>Agregar</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nombre</th>
                      <th>Nota Médica</th>
                      <th style="width: 40px">Estado</th>
                      <th style="width: 40px">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>

                    @for (paciente of pacientes(); track paciente.id; let i =$index;) {
                      <tr>
                      <td>{{i + 1}}</td>
                      <td>{{paciente.nombres}} {{paciente.apaterno}} {{paciente.amaterno}}</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-primary" style="width: 55%"></div>
                        </div>
                      </td>
                      <td>
                        
                        @if (paciente.estado_paciente == 0) {
                          <span class="badge bg-success">Activo</span>   
                         } @else if (paciente.estado_paciente == 1) {
                            <span class="badge bg-primary">Consulta Próxima</span>
                        } @else if (paciente.estado_paciente == 2) {
                            <span class="badge bg-warning">Consulta Pendiente</span>   
                        } @else if (paciente.estado_paciente == 3) {
                            <span class="badge bg-dark">No localizable</span>   
                            
                        } @else if (paciente.estado_paciente == 10) {
                            <span class="badge bg-danger">Baja</span>   
                          

                        } @else {
                         <span class="badge bg-success">Activo</span>
                         }

                      
                      </td>
                      <td class="text-nowrap">
                        <a class="deco-none" [routerLink]="['/editPaciente', paciente.id]" routerLinkActive="active"><i class="fas fa-pen" style="color: green;"></i></a>
                        <button type=button class="btn deco-none"  (click)="clickDelete(paciente.id)"><i class="fas fa-trash" style="color: red;"></i></button>
                      </td>
                    </tr>
                    




                    } @empty {
                      <td>No tiene pacientes registrados</td>

                    }


                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>

        </div>


    </div>

