<div class="half">
    <div class="bg order-1 order-md-2" style="height: 220px;background-image: url('assets/img/bg-2.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block">
              <div class="text-center mb-5 mt-2">
              <h3>Inventario de restaurante de Yemaya</h3>
                           </div>

              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                
          <input type="email" class="form-control" placeholder="Usuario" name="email" id="email" formControlName="email" 
          [class.is-invalid]="userForm.get('email')?.invalid && userForm.get('email')?.touched">
           <div class="invalid-feedback">Enter a valid email.</div>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

                 <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password" id="password" formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

                
              <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Recordarme
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="userForm.invalid" >Ingresar</button>
          </div>
          <!-- /.col -->
        </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>